.box_container{
    display: flex;
    justify-content: center;
    width: 400px;
    height: 110px;
    border-width: 5px;
    position: relative;
    top: 100px;
    left: 100px;
}
.box{
    width: 100px;
    height: 100px;
    background-color: lightcoral;
    margin: 5px;
    border-radius: 5px;
    position: relative;
}