* {
    margin: 0px;
}
.box_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 480px;
    height: 150px;
    border: 3px solid lightcoral;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    position: relative;
    top: 100px;
    left: 20%;
}
.box {
    width: 50%;
    height: 80%;
    border-radius: 5px;
    margin: 20px;
    position: relative;
    background-color: lightcoral;
}
